@import url("https://fonts.googleapis.com/css?family=Roboto");
*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

body {
  color: #8f8f8f;
  background: white;
  font-family: "Cardo", serif;
  font-weight: 300;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

[class*='column-'] {
  padding-left: 15px;
  padding-right: 15px; }

.column-1 {
  width: 8.33333%; }
  @media only screen and (max-width: 480px) {
    .column-1 {
      width: 100%; } }

.column-2 {
  width: 16.66667%; }
  @media only screen and (max-width: 480px) {
    .column-2 {
      width: 100%; } }

.column-3 {
  width: 25%; }
  @media only screen and (max-width: 480px) {
    .column-3 {
      width: 100%; } }

.column-4 {
  width: 33.33333%; }
  @media only screen and (max-width: 480px) {
    .column-4 {
      width: 100%; } }

.column-5 {
  width: 41.66667%; }
  @media only screen and (max-width: 480px) {
    .column-5 {
      width: 100%; } }

.column-6 {
  width: 50%; }
  @media only screen and (max-width: 480px) {
    .column-6 {
      width: 100%; } }

.column-7 {
  width: 58.33333%; }
  @media only screen and (max-width: 480px) {
    .column-7 {
      width: 100%; } }

.column-8 {
  width: 66.66667%; }
  @media only screen and (max-width: 480px) {
    .column-8 {
      width: 100%; } }

.column-9 {
  width: 75%; }
  @media only screen and (max-width: 480px) {
    .column-9 {
      width: 100%; } }

.column-10 {
  width: 83.33333%; }
  @media only screen and (max-width: 480px) {
    .column-10 {
      width: 100%; } }

.column-11 {
  width: 91.66667%; }
  @media only screen and (max-width: 480px) {
    .column-11 {
      width: 100%; } }

.column-12 {
  width: 100%; }
  @media only screen and (max-width: 480px) {
    .column-12 {
      width: 100%; } }

@media only screen and (max-width: 767px) {
  .column-3 {
    width: 50%; } }
@media only screen and (max-width: 480px) {
  .column-3 {
    width: 100%; } }

.gap-1 {
  height: 2px;
  display: block; }

.gap-2 {
  height: 4px;
  display: block; }

.gap-3 {
  height: 6px;
  display: block; }

.gap-4 {
  height: 8px;
  display: block; }

.gap-5 {
  height: 10px;
  display: block; }

.gap-6 {
  height: 12px;
  display: block; }

.gap-7 {
  height: 14px;
  display: block; }

.gap-8 {
  height: 16px;
  display: block; }

.gap-9 {
  height: 18px;
  display: block; }

.gap-10 {
  height: 20px;
  display: block; }

.pad-y-1 {
  padding: 5px 0; }

.pad-y-2 {
  padding: 10px 0; }

.pad-y-3 {
  padding: 15px 0; }

.pad-y-4 {
  padding: 20px 0; }

.pad-y-5 {
  padding: 25px 0; }

.pad-y-6 {
  padding: 30px 0; }

.pad-y-7 {
  padding: 35px 0; }

.pad-y-8 {
  padding: 40px 0; }

.pad-y-9 {
  padding: 45px 0; }

.pad-y-10 {
  padding: 50px 0; }

.pad-x-1 {
  padding: 0 5px; }

.pad-x-2 {
  padding: 0 10px; }

.pad-x-3 {
  padding: 0 15px; }

.pad-x-4 {
  padding: 0 20px; }

.pad-x-5 {
  padding: 0 25px; }

.pad-x-6 {
  padding: 0 30px; }

.pad-x-7 {
  padding: 0 35px; }

.pad-x-8 {
  padding: 0 40px; }

.pad-x-9 {
  padding: 0 45px; }

.pad-x-10 {
  padding: 0 50px; }

h1, .h1 {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1; }
  @media screen and (min-width: 480px) {
    h1, .h1 {
      font-size: 36px;
      line-height: 1; } }
  @media screen and (min-width: 640px) {
    h1, .h1 {
      font-size: 48px;
      line-height: 1; } }
  @media screen and (min-width: 1024px) {
    h1, .h1 {
      font-size: 53px;
      line-height: 1; } }

h2, .h2 {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1; }
  @media screen and (min-width: 480px) {
    h2, .h2 {
      font-size: 24px;
      line-height: 1; } }
  @media screen and (min-width: 640px) {
    h2, .h2 {
      font-size: 36px;
      line-height: 1; } }
  @media screen and (min-width: 1024px) {
    h2, .h2 {
      font-size: 48px;
      line-height: 1; } }

h3, .h3 {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.2; }
  @media screen and (min-width: 480px) {
    h3, .h3 {
      font-size: 24px;
      line-height: 1.2; } }
  @media screen and (min-width: 640px) {
    h3, .h3 {
      font-size: 28px;
      line-height: 1.2; } }
  @media screen and (min-width: 1024px) {
    h3, .h3 {
      font-size: 36px;
      line-height: 1.2; } }

h4, .h4 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2; }
  @media screen and (min-width: 480px) {
    h4, .h4 {
      font-size: 16px;
      line-height: 1.2; } }
  @media screen and (min-width: 640px) {
    h4, .h4 {
      font-size: 18px;
      line-height: 1.2; } }
  @media screen and (min-width: 1024px) {
    h4, .h4 {
      font-size: 24px;
      line-height: 1.2; } }

h5, .h5 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.1; }
  @media screen and (min-width: 480px) {
    h5, .h5 {
      font-size: 18px;
      line-height: 1.1; } }
  @media screen and (min-width: 640px) {
    h5, .h5 {
      font-size: 18px;
      line-height: 1.1; } }
  @media screen and (min-width: 1024px) {
    h5, .h5 {
      font-size: 18px;
      line-height: 1.1; } }

h6, .h6 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.2; }
  @media screen and (min-width: 480px) {
    h6, .h6 {
      font-size: 14px;
      line-height: 1.2; } }
  @media screen and (min-width: 640px) {
    h6, .h6 {
      font-size: 14px;
      line-height: 1.2; } }
  @media screen and (min-width: 1024px) {
    h6, .h6 {
      font-size: 14px;
      line-height: 1.2; } }

p, .p, ul, ol {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2; }
  @media screen and (min-width: 480px) {
    p, .p, ul, ol {
      font-size: 16px;
      line-height: 1.2; } }
  @media screen and (min-width: 640px) {
    p, .p, ul, ol {
      font-size: 16px;
      line-height: 1.2; } }
  @media screen and (min-width: 1024px) {
    p, .p, ul, ol {
      font-size: 16px;
      line-height: 1.2; } }

.container {
  padding: 50px 2% 250px; }

.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%; }
  .row:before, .row :after {
    content: '';
    clear: both; }

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.brand-text {
  color: #636466; }

.brand-primary {
  color: #008ed3; }

.brand-secondary {
  color: #22c5ee; }

.brand-gray {
  color: #9e9d9d; }

.brand-fourth {
  color: #93b1c0; }

.brand-light {
  color: #f2f2f2; }

.brand-white {
  color: #ffffff; }

.brand-primary-bg {
  background-color: #008ed3; }

.brand-secondary-bg {
  background-color: #22c5ee; }

.brand-gray-bg {
  background-color: #9e9d9d; }

.brand-fourth-bg {
  background-color: #93b1c0; }

.brand-light-bg {
  background-color: #f2f2f2; }

.brand-white-bg {
  background-color: #ffffff; }

.btn {
  color: #ffffff;
  text-decoration: none;
  padding: 14px,20px; }

.margin-auto {
  margin: 0 auto; }

.is-block {
  display: block; }

.is-inline {
  display: inline-block; }

.is-table {
  display: table;
  width: 100%; }

.is-left {
  float: left; }

.is-right {
  float: right; }

.clear-both {
  clear: both; }

.overflow-hidden {
  overflow: hidden; }

.v-center {
  display: table-cell;
  vertical-align: middle; }

.text-center {
  text-align: center; }

.full-h {
  height: 100%; }

.full-w {
  width: 100%; }

.text-upper {
  text-transform: uppercase; }

button.button {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent; }

.main-header {
  font-family: "Roboto", sans-serif;
  background: none;
  overflow: hidden;
  width: 100%;
  max-height: 80px;
  padding: 17px 0;
  z-index: 999;
  position: relative;
  left: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
  top: 0px; }
  @media only screen and (max-width: 767px) {
    .main-header {
      padding-top: 25px; } }

.open-nav {
  max-height: 400px !important; }

.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); }

.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro; }

.logo {
  float: left;
  display: block; }
  @media only screen and (max-width: 767px) {
    .logo {
      float: none; } }

nav {
  float: right;
  width: 60%; }
  @media only screen and (max-width: 767px) {
    nav {
      width: 100%; } }

nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right; }
  @media only screen and (max-width: 767px) {
    nav ul {
      padding-top: 10px;
      margin-bottom: 22px;
      float: left;
      text-align: center;
      width: 100%; } }

nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5; }
  @media only screen and (max-width: 767px) {
    nav ul li {
      width: 100%;
      padding: 7px 0;
      margin: 0; } }

nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none; }

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }
  @media only screen and (max-width: 767px) {
    .mobile-toggle {
      display: block; } }

.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block; }

.hero-slider {
  height: 80%;
  width: 100%; }

#slider {
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100%; }
  #slider ul.slide-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    list-style: none; }
    #slider ul.slide-wrapper li.slide-1 {
      background-image: url("../media/slide-1.jpg"); }
    #slider ul.slide-wrapper li.slide-2 {
      background-image: url("../media/slide-2.jpg"); }
    #slider ul.slide-wrapper li.slide-3 {
      background-image: url("../media/slide-3.jpg"); }
    #slider ul.slide-wrapper li.slide-4 {
      background-image: url("../media/slide-4.jpg"); }
    #slider ul.slide-wrapper li {
      position: relative;
      float: left;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      background-size: cover; }
  #slider ul.pagi {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 20px;
    list-style: none;
    display: block;
    padding: 0; }
    #slider ul.pagi li {
      width: 15px;
      height: 15px;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      display: block;
      margin-bottom: 5px; }
      #slider ul.pagi li.active {
        background: white; }

#parallex-section {
  position: relative;
  background: url("../media/about-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  min-height: 300px; }

#view-more {
  min-height: 300px;
  position: relative; }

#contact {
  background: url("../media/contact.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  min-height: 300px; }

#mapka {
  width: 100%;
  height: 400px;
  background-color: grey; }

.icon-image {
  width: 60px;
  margin: 0 auto; }

figure.product-item {
  position: relative;
  overflow: hidden; }
  figure.product-item img {
    width: 100%;
    transition: 2s cubic-bezier(0.53, 0.01, 0.51, 0.96); }
  figure.product-item figcaption {
    position: absolute;
    display: table;
    bottom: 0px;
    width: 100%;
    height: 30px;
    left: 0;
    color: #fff;
    background: rgba(255, 255, 255, 0.22);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, black 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, black));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, black 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, black 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, black 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, black 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 ); }
    figure.product-item figcaption p {
      vertical-align: middle;
      display: table-cell; }
  figure.product-item:hover img {
    transform: scale(1.5);
    transition: 2s cubic-bezier(0.53, 0.01, 0.51, 0.96); }

/*# sourceMappingURL=index.processed.css.map */
