@import url('https://fonts.googleapis.com/css?family=Roboto');
$font-family:'Roboto', sans-serif;
$h1-font-size:(
  null  : (24px,1),
  480px : (36px,1),
  640px : (48px,1),
  1024px: (53px,1)
);
$h2-font-size:(
  null  : (24px,1),
  480px : (24px,1),
  640px : (36px,1),
  1024px: (48px,1)
);
$h3-font-size:(
  null  : (24px,1.2),
  480px : (24px,1.2),
  640px : (28px,1.2),
  1024px: (36px,1.2)
);
$h4-font-size:(
  null  : (16px,1.2),
  480px : (16px,1.2),
  640px : (18px,1.2),
  1024px: (24px,1.2)
);
$h5-font-size:(
  null  : (18px,1.1),
  480px : (18px,1.1),
  640px : (18px,1.1),
  1024px: (18px,1.1)
);
$h6-font-size:(
  null  : (14px,1.2),
  480px : (14px,1.2),
  640px : (14px,1.2),
  1024px: (14px,1.2)
);
$p-font-size:(
  null  : (16px,1.2),
  480px : (16px,1.2),
  640px : (16px,1.2),
  1024px: (16px,1.2)
);


$brand-primary: #008ed3;
$brand-secondary: #22c5ee;
$brand-gray: #9e9d9d;
$brand-fourth:#93b1c0;
$brand-light:#f2f2f2;
$brand-text:#636466;
$brand-white:#ffffff;

//font-size mixin
@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
    @include make-font-size($fs-font-size);
    }
    @else {
      @media screen and (min-width: $fs-breakpoint) {
      @include make-font-size($fs-font-size);
      }
    }
  }
}
// Utility function for mixin font-size
@mixin make-font-size($fs-font-size) {
  // If $fs-font-size is a list, include
  // both font-size and line-height
  @if type-of($fs-font-size) == "list" {
    font-size: nth($fs-font-size, 1);
    @if (length($fs-font-size) > 1) {
      line-height: nth($fs-font-size, 2);
    }
  }
  @else {
    font-size: $fs-font-size;
  }
}

//button mixin
@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  }
}

//media breakpoints

$phone : '(max-width: 480px)';
$tablet: '(max-width: 767px)';
$desktop: '(min-width: 1200px)';

@mixin respond-to($media) {
    @media only screen and #{$media} {
        @content;
    }
}


@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }


*, *:after, *:before {
    margin: 0;
    padding: 0;
    @include border-box;
    }

html,body{
  width:100%;
  height:100%;
}
body {
  color: #8f8f8f;
  background: white;
  font-family: "Cardo", serif;
  font-weight: 300;
  margin:0;
  -webkit-font-smoothing: antialiased;
}
img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}
[class*='column-'] {
  padding-left: 15px;
  padding-right: 15px;
    }
@for $i from 1 through 12 {
    .column-#{$i} {
        width: 100% / 12 * $i;

        @include respond-to($phone) {
            width: 100%;
          }
    }
}
.column-3{
  @include respond-to($tablet) {
      width: 50%;
    }
    @include respond-to($phone) {
        width: 100%;
      }
}

@for $i from 1 through 10 {
    .gap-#{$i} {
        height: $i*2px;
        display: block;
    }
}
@for $i from 1 through 10 {
    .pad-y-#{$i} {
        padding: $i*5px 0;
    }
}
@for $i from 1 through 10 {
    .pad-x-#{$i} {
        padding: 0 $i*5px;
    }
}

//typography
h1,.h1{
  font-family: $font-family;
  margin-top: 20px;
  margin-bottom: 20px;
   @include font-size($h1-font-size);
}
h2,.h2{
  font-family: $font-family;
  margin-top: 20px;
  margin-bottom: 20px;
  @include font-size($h2-font-size);
}
h3,.h3{
  font-family: $font-family;
  margin-top: 20px;
  margin-bottom: 20px;
  @include font-size($h3-font-size);
}
h4,.h4{
  font-family: $font-family;
  @include font-size($h4-font-size);
}
h5,.h5{
  font-family: $font-family;
  @include font-size($h5-font-size);
}
h6,.h6{
  font-family: $font-family;
  @include font-size($h6-font-size);
}
p,.p,ul,ol{
  font-family: $font-family;
  @include font-size($p-font-size);
}
// .container {
//     padding-right: 15px;
//     padding-left: 15px;
//     margin-right: auto;
//     margin-left: auto;
//     @include respond-to($desktop) {
//       width: 1170px;
//     }
//     @include respond-to($tablet) {
//       width: 100%;
//     }
// }
.container{
  padding: 50px 2% 250px;
}
.row{
  width: 100%;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
    padding: 0 2%;
  &:before,:after{
    content: '';
    clear: both;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
// .row {
//     margin-right: -15px;
//     margin-left: -15px;
// }

// utility
//text color
.brand-text{color: $brand-text;}
.brand-primary{color:$brand-primary;}
.brand-secondary{color:$brand-secondary;}
.brand-gray{color:$brand-gray;}
.brand-fourth{color:$brand-fourth;}
.brand-light{color:$brand-light;}
.brand-white{color:$brand-white;}
//background color
.brand-primary-bg{background-color: $brand-primary;}
.brand-secondary-bg{background-color: $brand-secondary;}
.brand-gray-bg{background-color: $brand-gray;}
.brand-fourth-bg{background-color: $brand-fourth;}
.brand-light-bg{background-color: $brand-light;}
.brand-white-bg{background-color: $brand-white;}

//buttons
.btn{
  color: $brand-white;
  text-decoration:none;
  padding:14px,20px;
}
.margin-auto{
  margin:0 auto;
}
.is-block{
  display: block;
}
.is-inline{
  display: inline-block;
}
.is-table{
  display: table;
  width:100%;
}
.is-left{
  float: left;
}
.is-right{
  float: right;
}
.clear-both{
  clear: both;
}

.overflow-hidden{
  overflow:hidden;
}
.v-center{
  display: table-cell;
  vertical-align: middle;
}
.text-center{
  text-align: center;
}
.full-h{
  height: 100%;
}
.full-w{
  width: 100%;
}
.text-upper{
  text-transform: uppercase;
}
button.button{
    font-family: $font-family;
    display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      border: 1px solid transparent;
    }

.main-header {
  font-family: $font-family;
  background: none;
  overflow: hidden;
  width: 100%;
  max-height:80px;
  padding: 17px 0;
  z-index: 999;
  position: relative;
  left: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
  top: 0px;
  @include respond-to($tablet) {
      padding-top: 25px;
    }
}
.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

.logo {
  float: left;
  display: block;
  @include respond-to($tablet) {
      float: none;
    }
  }

nav {
  float: right;
  width: 60%;
  @include respond-to($tablet) {
      width: 100%;
    }
}

nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
  @include respond-to($tablet) {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
    }
}

nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;

  @include respond-to($tablet) {
    width: 100%;
    padding: 7px 0;
    margin: 0;
    }

}

nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
}
.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;

  @include respond-to($tablet) {
      display: block;
    }
}

.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

// hero Slider
.hero-slider{
  height:80%;
  width:100%;
}
#slider {
  position: relative;
  overflow: hidden;
  margin: 0;
  width:100%;
  height:100%;

  ul.slide-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    list-style: none;

    @for $i from 1 through 4 {
      li.slide-#{$i} {
        background-image: url('../media/slide-#{$i}.jpg');
      }
    }

    li {
      position: relative;
      float: left;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }


  ul.pagi{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left:10px;
    width:20px;
    list-style: none;
    display: block;
    padding:0;
    li{
      width:15px;
      height:15px;
      background:rgba(255,255,255,0.5);
      border-radius:50%;
      display:block;
      margin-bottom:5px;

      &.active{
        background:rgba(255,255,255,1);
      }
    }
  }
}

// parallex section

#parallex-section{
  position: relative;
  background: url('../media/about-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  min-height: 300px;
}
#view-more{
    min-height: 300px;
    position: relative;
}

#contact{
  background: url('../media/contact.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  min-height: 300px;
}
#mapka {
 width: 100%;
 height: 400px;
 background-color: grey;
}
// about section
.icon-image{
  width: 60px;
  margin:0 auto;
}

figure.product-item{
  position: relative;
  overflow: hidden;

    img{
      width: 100%;
      transition: 2s cubic-bezier(0.53, 0.01, 0.51, 0.96);
    }


  figcaption{
    position: absolute;
    display: table;
    bottom: 0px;
    width: 100%;
    height: 30px;
    left :0;
    color: #fff;
    background: rgba(255,255,255,0.22);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
    p{
      vertical-align: middle;
      display: table-cell;
    }
  }
  &:hover{
    img{
      transform: scale(1.5);
      transition: 2s cubic-bezier(0.53, 0.01, 0.51, 0.96);
    }
  }
}
